<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prime Games · Cadastro</title>
    <link href="/libs/bootstrap-5.1.1-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/libs/bootstrap-5.1.1-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>    
    <link href="/css/registro.css" rel="stylesheet"/>
  </head>
  <body>
    <header class="navbar navbar-expand-lg navbar-dark sticky-top flex-md-nowrap">
      <div class="container-fluid">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index"><img src="/img/logo.png" id="img1"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarMenu" class="collapse navbar-collapse justify-content-end">
          <div class="navbar-nav">
            <a class="nav-link" href="login"><img src="/img/login.png" id="img2"></a>
            <a class="nav-link h1" href="index">INICIO</a>
            <a class="nav-link h1" href="catalogo">CATALOGO</a>
            <a class="nav-link h1" href="sobre">SOBRE</a>
            <a class="nav-link h1" href="contato">CONTATO</a>
          </div>
        </div>
      </div>  
    </header>  
    <br>
    <div id="main-container">
      <h1 class="h1">CADASTRE-SE</h1>
      <form id="register-form"  method="post" action="/registro">
        <div class="full-box">
          <label for="email">Telefone</label>
          <input type="text" name="telefone" id="telefone" placeholder="Digite seu telefone" data-min-length="11" data-mask="(00) 00000-0000" data-mask-selectonfocus="true"/>
        </div>
        <div class="full-box">
          <label for="telefone">E-mail</label>
          <input type="email" name="email" id="email" placeholder="Digite seu e-mail" data-min-length="2" data-email-validate>
        </div>
        <div class="half-box spacing">
          <label for="name">Nome</label>
          <input type="text" name="name" id="name" placeholder="Digite seu nome" data-required data-min-length="3" data-max-length="16">
        </div>
        <div class="half-box">
          <label for="lastname">Sobrenome</label>
          <input type="text" name="lastname" id="lastname" placeholder="Digite seu sobrenome" data-required data-only-letters>
        </div>
        <div class="half-box spacing">
          <label for="lastname">Senha</label>
          <input type="password" name="password" id="password" placeholder="Digite sua senha" data-password-validate data-required>
        </div>
        <div class="half-box">
          <label for="passconfirmation">Confirmação de senha</label>
          <input type="password" name="passconfirmation" id="passwordconfirmation" placeholder="Digite novamente sua senha" data-equal="password">
        </div>
        <div>
          <input type="checkbox" name="agreement" id="agreement">
          <label for="agreement" id="agreement-label">Eu li e aceito os <a href="#">termos de uso</a></label>
        </div>
        <div class="full-box">
          <input id="btn-submit" type="submit" value="Registrar">
        </div>
      </form>
    </div>
    <p class="error-validation template"></p>
    <footer class="fixed-bottom transparent">
      <div class="transparent d-flex justify-content-end my-3 mx-4">
        <a href="#">
          <img src="/img/wpp.png" id="img_zap">
        </a>
      </div>
      <nav class="navbar sticky-bottom navbar-dark flex-md-nowrap">
        <div class="mx-auto">
          <p>©1996-2021, Amazon.com, Inc. ou suas afiliadas</p>
        </div>
      </nav>
    </footer>
    <script src="/libs/bootstrap-5.1.1-dist/js/bootstrap.js"></script>
    <script src="/libs/bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>