body{
    background-color: #2C2541;
}

.navbar a{
    color: #FFF !important;
}

.navbar p{
    color: #FFF !important;
}

.navbar-dark{
    background-color: #262037;
}

.transparent{
    background-color: rgba(255, 255, 255, 0) !important;
}

.my-6{
    margin-top: 60;
    margin-bottom: 60;
}

.h1{
    font-family: Freight Sans;
    font-weight: bold;
    color: white;
}
#img1{
    max-width: 100%;
    height: auto;
}
#img_zap{
    max-width: 10%;
    height: auto;
    float: right;
   
}
#carrosselItem{
    margin-left: 4%;
    max-width: 65%;
    height: auto;
}
.carousel-inner{
    padding-left: 21.25%;
}
.carousel-control-prev{
    margin-left: 18%;
}
.carousel-control-next{
    margin-right: 18%;
}