body{
    background-color: #2C2541;
}

.navbar a{
    color: #FFF !important;
}

.navbar p{
    color: #FFF !important;
}

.navbar-dark{
    background-color: #262037;
}

.transparent{
    background-color: rgba(255, 255, 255, 0) !important;
}

.my-6{
    margin-top: 60;
    margin-bottom: 60;
}

.h1{
    font-family: Freight Sans;
    font-weight: bold;
    color: white;
}
#img1{
    max-width: 100%;
    height: auto;
}
#img_zap{
    max-width: 10%;
    height: auto;
    float: right;
   
}
#carrossel1{
    margin-left: 4%;
    max-width: 50%;
    max-height: 30%;
    height: auto;
    width: auto;
}
#carrossel2{
    margin-left: 4%;
    max-width: 50%;
    max-height: 30%;
    height: auto;
    width: auto;
}
#carrossel3{
    margin-left: 4%;
    max-width: 50%;
    max-height: 30%;
    width: auto;
    height: auto;
}
.carousel-inner{
    margin-left: 20%;
    margin-right: 20%;
}
.carousel-control-prev{
    margin-left: 10%;
}
.carousel-control-next{
    margin-right: 13%;;
}